<div class="card mb-3">
    <div class="d-flex align-items-center justify-content-between p-2">
        <div class="d-flex align-items-center">
            <img [src]="vendeHumos.imagen" [alt]="vendeHumos.titulo" class="img-thumbnail" width="80px">
            <div class="card-body w-100 mx-auto">
              <h5 class="card-title">{{ vendeHumos.titulo }}</h5>
              <p class="card-text">{{ vendeHumos.descripcion }}</p>
              <p class="card-text"><small class="text-muted">{{ vendeHumos.fechaCreacion }}</small></p>
            </div>

        </div>
        <div class="ml-auto">
            <button (click)="votarVende(vendeHumos.id)" class="btn btn-info m-2">Votar ({{ vendeHumos.votos }})</button>
            <a [routerLink]="['/vende-humos', vendeHumos.id]" class="btn btn-primary" role="button">Más info</a>
        </div>

    </div>
</div>